/* Estilo para tareas completadas */
.task-completed {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Espaciado del segmento */
ion-segment {
  margin: 10px;
}

/* Espaciado de la card */
ion-card {
  margin: 10px;
}
